/test/tests-*
/test/gtest

/protoc-plugin/doc/
/protoc-plugin/lib/
/protoc-plugin/.crystal/
/protoc-plugin/.shards/
/protoc-plugin/bin/*
/protoc-plugin/temp
/protoc-plugin/shard.lock

/example/tools
/example/example
/example/build

